body {
  background-color: #2C3333;
  color:#fff;
  font-family: 'Rubik', sans-serif;
}

.card {
  height:auto;
  width:250px;
}

li{
  list-style:none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
